## Imports

In [1]:
import pandas as pd
import numpy as np

## Read data

In [2]:
#df = pd.read_excel('test_df.xlsx', index_col = 0)
t = pd.read_excel('test.xlsx', sheet_name = 'Sheet2', index_col = 0)

## Functions

### К-во НЕнулевых дней подряд в строке до текущего дня

In [38]:
def days_by_row(r):
    df = pd.DataFrame(r)
    df = df.rename(columns = {df.columns[0]: 'c'})
    df = df.iloc[::-1].reset_index(drop = True)
    df['row_1_zero_index'] = (df.index + 1) * (df['c'] == 0)
    days_buying = df.loc[df['row_1_zero_index'] > 0, 'row_1_zero_index'].min() - 1
    if np.isnan(days_buying):
        days_buying = df.shape[0]        
    return days_buying

In [35]:
def get_days_buying(df):
    tmp = pd.DataFrame()
    for r in df.index:
        tmp.loc[r, 'days_buying'] = days_by_row(df.loc[r])
    return tmp

In [37]:
t

        1   2   3   4   5   6   7   8    9
row_0   0   0   0   0   0   0   0   0    0
row_1   0  12  13  14   0   0  17  18    7
row_2  21  22  23  24   0  26  27  28  127
row_3  21  22  23  24  24  24  24  24   24
row_4  21  22  23  24  24   0   0   0    0
row_5  21  22  23  24  24   0  24   0    0
row_6   0   0   0   0   0   0   0   0    1

In [36]:
get_days_buying(t)

       days_buying
row_0          0.0
row_1          3.0
row_2          4.0
row_3          9.0
row_4          0.0
row_5          0.0
row_6          1.0

### К-во нулевых дней подряд в строке до текущего дня

In [6]:
def zero_days_by_row(r):
    df = pd.DataFrame(r)
    df = df.rename(columns = {df.columns[0]: 'c'})
    df = df.iloc[::-1].reset_index(drop = True)
    df['row_zero_index'] = (df.index + 1) * (df['c'] != 0)
    res = df.loc[df['row_zero_index'] != 0, 'row_zero_index'].min() - 1
    if np.isnan(res):
        res = df.shape[0]        
        
    return res

zero_days_by_row(t.iloc[0])

9

In [7]:
def get_zero_days(df):
    tmp = pd.DataFrame()
    for r in df.index:
        tmp.loc[r, 'zero_days'] = zero_days_by_row(df.loc[r])
    return tmp

get_zero_days(t)

       zero_days
row_0        9.0
row_1        0.0
row_2        0.0
row_3        0.0
row_4        4.0
row_5        2.0
row_6        0.0

### К-во нулевых дней подряд в строке до текущего дня, за искл. последнего

In [8]:
def zero_days_before_yesterday_by_row(r):
    df = pd.DataFrame(r)
    df = df.rename(columns = {df.columns[0]: 'c'})
    df = df.iloc[::-1].iloc[1:, :].reset_index(drop = True)
    df['row_zero_index'] = (df.index + 1) * (df['c'] != 0)
    res = df.loc[df['row_zero_index'] != 0, 'row_zero_index'].min() - 1
    if np.isnan(res):
        res = df.shape[0]        
        
    return res

zero_days_before_yesterday_by_row(t.iloc[0])

8

In [9]:
def get_zero_days_before_yesterday(df):
    tmp = pd.DataFrame()
    for r in df.index:
        tmp.loc[r, 'zero_days_before_yesterday'] = zero_days_before_yesterday_by_row(df.loc[r])
    return tmp

get_zero_days_before_yesterday(t)

       zero_days_before_yesterday
row_0                         8.0
row_1                         0.0
row_2                         0.0
row_3                         0.0
row_4                         3.0
row_5                         1.0
row_6                         8.0

### К-во НЕнулевых дней подряд в строке до текущего дня, за искл. последнего

In [10]:
def days_buying_before_yesterday_by_row(r):
    df = pd.DataFrame(r)
    df = df.rename(columns = {df.columns[0]: 'c'})
    df = df.iloc[::-1]
    df = df.iloc[1:, :].reset_index(drop = True)
    df['row_1_zero_index'] = (df.index + 1) * (df['c'] == 0)
    days_buying = df.loc[df['row_1_zero_index'] > 0, 'row_1_zero_index'].min() - 1
    if np.isnan(days_buying):
        days_buying = df.shape[0]        
    return days_buying

In [11]:
def get_days_buying_before_yesterday_by_row(df):
    tmp = pd.DataFrame()
    for r in df.index:
        tmp.loc[r, 'days_buying_before_yesterday'] = days_buying_before_yesterday_by_row(df.loc[r])
    return tmp

In [12]:
get_days_buying_before_yesterday_by_row(t)

       days_buying_before_yesterday
row_0                           0.0
row_1                           2.0
row_2                           3.0
row_3                           8.0
row_4                           0.0
row_5                           0.0
row_6                           0.0

### avg_by_row

In [13]:
def avg_by_row(r):
    df = pd.DataFrame(r)
    df = df.rename(columns = {df.columns[0]: 'c'}).iloc[::-1].iloc[1:, :]
    avg = df['c'].mean()
    return avg

avg_by_row(t.iloc[6])

0.0

In [14]:
def get_avg_by_row(df):
    tmp = pd.DataFrame()
    for r in df.index:
        tmp.loc[r, 'avg_by_row'] = avg_by_row(df.loc[r])
    return tmp

get_avg_by_row(t)

       avg_by_row
row_0       0.000
row_1       9.250
row_2      21.375
row_3      23.250
row_4      14.250
row_5      17.250
row_6       0.000

### avg_by_non_zero_by_row

In [15]:
def avg_by_non_zero_by_row(r):
    df = pd.DataFrame(r)
    df = df.rename(columns = {df.columns[0]: 'c'}).iloc[::-1].iloc[1:, :]
    avg = df.loc[df['c']>0, 'c'].mean()
    if np.isnan(avg):
        avg = 0
    return avg
avg_by_non_zero_by_row(t.iloc[0])

0

In [16]:
def get_avg_by_non_zero_by_row(df):
    tmp = pd.DataFrame()
    for r in df.index:
        tmp.loc[r, 'avg_by_nonzero_row'] = avg_by_non_zero_by_row(df.loc[r])
    return tmp

get_avg_by_non_zero_by_row(t)

       avg_by_nonzero_row
row_0            0.000000
row_1           14.800000
row_2           24.428571
row_3           23.250000
row_4           22.800000
row_5           23.000000
row_6            0.000000

### is zero yesterday

In [18]:
def is_zero_yesterday(df):
    tmp = pd.DataFrame()
    tmp['is_zero_yesterday'] = df.iloc[:, -1] == 0
    return tmp['is_zero_yesterday']

In [19]:
t

        1   2   3   4   5   6   7   8    9
row_0   0   0   0   0   0   0   0   0    0
row_1   0  12  13  14   0   0  17  18    7
row_2  21  22  23  24   0  26  27  28  127
row_3  21  22  23  24  24  24  24  24   24
row_4  21  22  23  24  24   0   0   0    0
row_5  21  22  23  24  24   0  24   0    0
row_6   0   0   0   0   0   0   0   0    1

In [20]:
is_zero_yesterday(t)

row_0     True
row_1    False
row_2    False
row_3    False
row_4     True
row_5     True
row_6    False
Name: is_zero_yesterday, dtype: bool

### share + numbers_of_days_buying_before_yesterday

In [22]:
def stat_of_days_buying_before_yesterday(df):
    n_rows = len(df.index)
    df = df.iloc[:, :-1].T
    tmp = df > 0
    tmp.loc['share_non_zero_days']     = tmp.iloc[:n_rows+1, :].mean()
    tmp.loc['number_of_non_zero_days'] = tmp.iloc[:n_rows+1, :].sum()
    tmp.loc['number_of_days']          = tmp.iloc[:n_rows+1, :].count()
    ttmp = tmp.T
    ttmp['zero_days_stat'] = (
        '['
        +ttmp['number_of_non_zero_days'].astype(str)
        +'/'
        +ttmp['number_of_days'].astype(str)
        +']'
    )
    return ttmp[[
        'share_non_zero_days', 
    #    'number_of_days', 
    #    'number_of_non_zero_days', 
        'zero_days_stat'
    ]]
    
stat_of_days_buying_before_yesterday(t)

      share_non_zero_days zero_days_stat
row_0                 0.0          [0/8]
row_1               0.625          [5/8]
row_2               0.875          [7/8]
row_3                 1.0          [8/8]
row_4               0.625          [5/8]
row_5                0.75          [6/8]
row_6                 0.0          [0/8]

### Increase / decrease rate.

In [88]:
def increase_rate_by_row(r, n_input = 999_999_999):
    '''
    r - row with values (per partner, offers, ...)
    n - number of days to calculate mean. 999_999_999 by default - to aggragate whole row 
    '''
    n_max = len(r) - 1 #real count of values in row
    n = min(n_input, n_max) #number of rows to calculate mean

    df = pd.DataFrame(r)
    current_value = df.iloc[-1, 0] #get last value in row, usually, this is yesterdays value
    prev_value = avg_by_row(r[-n-1:-1])
    inc_rate = current_value / prev_value
    return inc_rate 

#display(t.iloc[1])
increase_rate_by_row(t.iloc[1], 2)

0.4117647058823529

In [83]:
t

        1   2   3   4   5   6   7   8    9
row_0   0   0   0   0   0   0   0   0    0
row_1   0  12  13  14   0   0  17  18    7
row_2  21  22  23  24   0  26  27  28  127
row_3  21  22  23  24  24  24  24  24   24
row_4  21  22  23  24  24   0   0   0    0
row_5  21  22  23  24  24   0  24   0    0
row_6   0   0   0   0   0   0   0   0    1

In [85]:
def get_increase_rate(df):
    tmp = pd.DataFrame()
    for r in df.index:
        tmp.loc[r, 'inc_rate_1'] = increase_rate_by_row(df.loc[r], 1)
    return tmp

get_increase_rate(t)

       inc_rate_1
row_0         NaN
row_1         NaN
row_2         NaN
row_3         NaN
row_4         NaN
row_5         NaN
row_6         NaN

## Prepare dataframe for processing.

In [23]:
tt = (
    t
    .join(get_days_buying(t))
    .join(get_days_buying_before_yesterday_by_row(t))
    .join(get_avg_by_row(t))
    .join(get_avg_by_non_zero_by_row(t))
    .join(is_zero_yesterday(t))
    .join(get_zero_days(t))
    .join(get_zero_days_before_yesterday(t))
    .join(stat_of_days_buying_before_yesterday(t))
)

tt

,1,2,3,4,5,6,7,8,9,days_buying,days_buying_before_yesterday,avg_by_row,avg_by_nonzero_row,is_zero_yesterday,zero_days,zero_days_before_yesterday,share_non_zero_days,zero_days_stat
row_0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.000,0.000000,True,9.0,8.0,0.0,[0/8]
row_1,0,12,13,14,0,0,17,18,7,3.0,2.0,9.250,14.800000,False,0.0,0.0,0.625,[5/8]
row_2,21,22,23,24,0,26,27,28,127,4.0,3.0,21.375,24.428571,False,0.0,0.0,0.875,[7/8]
row_3,21,22,23,24,24,24,24,24,24,9.0,8.0,23.250,23.250000,False,0.0,0.0,1.0,[8/8]
row_4,21,22,23,24,24,0,0,0,0,0.0,0.0,14.250,22.800000,True,4.0,3.0,0.625,[5/8]
row_5,21,22,23,24,24,0,24,0,0,0.0,0.0,17.250,23.000000,True,2.0,1.0,0.75,[6/8]
row_6,0,0,0,0,0,0,0,0,1,1.0,0.0,0.000,0.000000,False,0.0,8.0,0.0,[0/8]

## Alerts

### Alert: partner X stop bying

In [24]:
print('Вывожу статистику партнёров, которые ранее были, а вчера исчезли:')
stop_buying_df = tt.query('is_zero_yesterday == True & zero_days_before_yesterday == 0')

for r in stop_buying_df.index:
    days_buying_before_yesterday = tt.loc[[r], 'days_buying_before_yesterday'][0]
    share_non_zero_days = tt.loc[[r], 'share_non_zero_days'][0]
    avg_by_nonzero_row = tt.loc[[r], 'avg_by_nonzero_row'][0]
    stat_of_days_buying_before_yesterday = tt.loc[[r], 'zero_days_stat'][0]

    print(
        ''
        + 'Партнёр ' 
        + r 
        + ', работал ' 
        + str(int(days_buying_before_yesterday)) 
        + ' дня до того, как пропасть. За период брал ' 
        + str(share_non_zero_days * 100) 
        + '% дней '
        + stat_of_days_buying_before_yesterday
        + ' в среднем по ' 
        + str(round(avg_by_nonzero_row, 1)) 
        + ' за день.'
    )

print('Job done!')

Вывожу статистику партнёров, которые ранее были, а вчера исчезли:
Job done!

### Alert: partner X start bying

In [25]:
tt

,1,2,3,4,5,6,7,8,9,days_buying,days_buying_before_yesterday,avg_by_row,avg_by_nonzero_row,is_zero_yesterday,zero_days,zero_days_before_yesterday,share_non_zero_days,zero_days_stat
row_0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.000,0.000000,True,9.0,8.0,0.0,[0/8]
row_1,0,12,13,14,0,0,17,18,7,3.0,2.0,9.250,14.800000,False,0.0,0.0,0.625,[5/8]
row_2,21,22,23,24,0,26,27,28,127,4.0,3.0,21.375,24.428571,False,0.0,0.0,0.875,[7/8]
row_3,21,22,23,24,24,24,24,24,24,9.0,8.0,23.250,23.250000,False,0.0,0.0,1.0,[8/8]
row_4,21,22,23,24,24,0,0,0,0,0.0,0.0,14.250,22.800000,True,4.0,3.0,0.625,[5/8]
row_5,21,22,23,24,24,0,24,0,0,0.0,0.0,17.250,23.000000,True,2.0,1.0,0.75,[6/8]
row_6,0,0,0,0,0,0,0,0,1,1.0,0.0,0.000,0.000000,False,0.0,8.0,0.0,[0/8]

In [26]:
print('Вывожу статистику партнёров, которых ранее не было, а вчера появился:')
start_buying_df = tt.query('is_zero_yesterday == False & zero_days_before_yesterday != 0')

for r in start_buying_df.index:
    days_buying_before_yesterday = tt.loc[[r], 'days_buying_before_yesterday'][0]
    share_non_zero_days = tt.loc[[r], 'share_non_zero_days'][0]
    avg_by_nonzero_row = tt.loc[[r], 'avg_by_nonzero_row'][0]
    stat_of_days_buying_before_yesterday = tt.loc[[r], 'zero_days_stat'][0]
    zero_days_before_yesterday = tt.loc[[r], 'zero_days_before_yesterday'][0]

    print(
        ''
        + 'Партнёр ' 
        + r 
        + ' появился вчера, до этого он НЕ брал ' 
        + str(int(zero_days_before_yesterday)) 
        + ' дней. За период брал ' 
        + str(share_non_zero_days * 100) 
        + '% дней '
        + stat_of_days_buying_before_yesterday
        + ' в среднем по ' 
        + str(round(avg_by_nonzero_row, 1)) 
        + ' за день.'
    )

print('Job done!')

Вывожу статистику партнёров, которых ранее не было, а вчера появился:
Партнёр row_6 появился вчера, до этого он НЕ брал 8 дней. За период брал 0.0% дней [0/8] в среднем по 0.0 за день.
Job done!

### Alert: line X increase value.

In [27]:
tt

,1,2,3,4,5,6,7,8,9,days_buying,days_buying_before_yesterday,avg_by_row,avg_by_nonzero_row,is_zero_yesterday,zero_days,zero_days_before_yesterday,share_non_zero_days,zero_days_stat
row_0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.000,0.000000,True,9.0,8.0,0.0,[0/8]
row_1,0,12,13,14,0,0,17,18,7,3.0,2.0,9.250,14.800000,False,0.0,0.0,0.625,[5/8]
row_2,21,22,23,24,0,26,27,28,127,4.0,3.0,21.375,24.428571,False,0.0,0.0,0.875,[7/8]
row_3,21,22,23,24,24,24,24,24,24,9.0,8.0,23.250,23.250000,False,0.0,0.0,1.0,[8/8]
row_4,21,22,23,24,24,0,0,0,0,0.0,0.0,14.250,22.800000,True,4.0,3.0,0.625,[5/8]
row_5,21,22,23,24,24,0,24,0,0,0.0,0.0,17.250,23.000000,True,2.0,1.0,0.75,[6/8]
row_6,0,0,0,0,0,0,0,0,1,1.0,0.0,0.000,0.000000,False,0.0,8.0,0.0,[0/8]

In [30]:
print('Вывожу статистику строк, которые увеличились по сравнению с [..]:')

df = tt #.query('is_zero_yesterday == False & zero_days_before_yesterday != 0')

df

Вывожу статистику строк, которые увеличились по сравнению с [..]:

,1,2,3,4,5,6,7,8,9,days_buying,days_buying_before_yesterday,avg_by_row,avg_by_nonzero_row,is_zero_yesterday,zero_days,zero_days_before_yesterday,share_non_zero_days,zero_days_stat
row_0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.000,0.000000,True,9.0,8.0,0.0,[0/8]
row_1,0,12,13,14,0,0,17,18,7,3.0,2.0,9.250,14.800000,False,0.0,0.0,0.625,[5/8]
row_2,21,22,23,24,0,26,27,28,127,4.0,3.0,21.375,24.428571,False,0.0,0.0,0.875,[7/8]
row_3,21,22,23,24,24,24,24,24,24,9.0,8.0,23.250,23.250000,False,0.0,0.0,1.0,[8/8]
row_4,21,22,23,24,24,0,0,0,0,0.0,0.0,14.250,22.800000,True,4.0,3.0,0.625,[5/8]
row_5,21,22,23,24,24,0,24,0,0,0.0,0.0,17.250,23.000000,True,2.0,1.0,0.75,[6/8]
row_6,0,0,0,0,0,0,0,0,1,1.0,0.0,0.000,0.000000,False,0.0,8.0,0.0,[0/8]

In [ ]:
# set threshold for increasing
# ...



for r in start_buying_df.index:
    days_buying_before_yesterday = tt.loc[[r], 'days_buying_before_yesterday'][0]
    share_non_zero_days = tt.loc[[r], 'share_non_zero_days'][0]
    avg_by_nonzero_row = tt.loc[[r], 'avg_by_nonzero_row'][0]
    stat_of_days_buying_before_yesterday = tt.loc[[r], 'zero_days_stat'][0]
    zero_days_before_yesterday = tt.loc[[r], 'zero_days_before_yesterday'][0]

    print(
        ''
        + 'Партнёр ' 
        + r 
        + ' появился вчера, до этого он НЕ брал ' 
        + str(int(zero_days_before_yesterday)) 
        + ' дней. За период брал ' 
        + str(share_non_zero_days * 100) 
        + '% дней '
        + stat_of_days_buying_before_yesterday
        + ' в среднем по ' 
        + str(round(avg_by_nonzero_row, 1)) 
        + ' за день.'
    )

print('Job done!')